<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<!-- head ---------------------------------------------------------------------------------------------------------------------->
	<head th:fragment="headerFragment">
		<meta charset="UTF-8">
		<title>UNLa</title>
	
		<link rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			crossorigin="anonymous">
		
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>		
		<link rel="stylesheet" href="/css/style.css">
	</head>
<!------------------------------------------------------------------------------------------------------------------------------>
	
<body>
	
<!-- navbar -------------------------------------------------------------------------------------------------------------------->
	<div th:fragment="navbarFragment">
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-sm-around">
			<div>
				<a href="/" class="text-white text-decoration-none"> 
					<span class="fs-5 fw-semibold h3">Chefcito</span>
				</a>
			</div>
			<div th:replace="~{fragments :: searchBar}"></div>
		</nav>
	</div>

<!-- Sidebar -------------------------------------------------------------------------------------------------------------------->

	<div th:fragment="sidebarFragment" class="flex-shrink-0 p-3 bg-secondary" style="width: 280px;">
		<a href="/"
			class="d-flex align-items-center pb-3 mb-3 link-body-emphasis text-decoration-none border-bottom text-white">
			<svg class="bi pe-none me-2" width="30" height="24">
				<use xlink:href="#bootstrap"></use></svg> 
				<span class="fs-5 fw-semibold">Home</span>
		</a>
		<ul class="list-unstyled ps-0">
			<li class="mb-1">
				<button
					class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed text-white dropdown-btn"
					data-bs-toggle="collapse" data-bs-target="#home-collapse"
					aria-expanded="true">Recetas</button>
					
				<div class="collapse ml-4" id="home-collapse">
					<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
						<li><a href="/mapa" class="link-body-emphasis d-inline-flex text-decoration-none rounded text-white-50">Mapa UNLa </a></li>
						<li><a href="/buscarEstacionamiento"class="link-body-emphasis d-inline-flex text-decoration-none rounded text-white-50">Buscar Estacionamiento</a></li>
						
					</ul>
				</div>
			</li>
			<li class="mb-1">
				<button
					class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed text-white dropdown-btn"
					data-bs-toggle="collapse" data-bs-target="#dashboard-collapse"
					aria-expanded="false">Ingredientes</button>
				<div sec:authorize="hasRole('ROLE_ADMIN')" class="collapse ml-4" id="dashboard-collapse">
					<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">

						<li><a href="/dispositivos" class="link-body-emphasis d-inline-flex text-decoration-none rounded text-white-50">Listado de tipos</a></li>
					</ul>
				</div>
			</li>

			<li class="mb-1">
				<button
					class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed text-white dropdown-btn"
					data-bs-toggle="collapse" data-bs-target="#orders-collapse"
					aria-expanded="false">Recomendaciones</button>
					
				<div class="collapse ml-4" id="orders-collapse">
					<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
						<li><a href="estacionamientos"
							class="link-body-emphasis d-inline-flex text-decoration-none rounded text-white-50">Listado de ---------------</a></li>
					</ul>
				</div>
			</li>
			<li class="border-top my-3"></li>
		</ul>
	</div>
			
<!-- Searchbar-------------------------------------------------------------------------------------------------------------------->
	<div th:fragment="searchBar">
		<div class="input-group">
		  <input type="search" class="form-control rounded" placeholder="Buscar Receta" aria-label="Search" aria-describedby="search-addon" />
		  <button type="button" class="btn btn-outline-primary" data-mdb-ripple-init>
			  Buscar</button>
		</div>
	</div>

<!-- Footer -------------------------------------------------------------------------------------------------------------------->
	<div th:fragment="footerFragment">
		<footer class="py-5 bg-dark">
			<div class="container">
				<p class="m-0 text-center text-white">De Laforé Pablo - 2023</p>
			</div>
		</footer>
	</div>
<!------------------------------------------------------------------------------------------------------------------------------>
	
</body>
</html>